<events>
  <event ixBugEvent="174" ixBug="13">
    <ixBugEvent>174</ixBugEvent> -- Identity field in the database for this event
    <evt>4</evt> -- Number for type of event, see event codes
    <sVerb>Assigned to Captain Caveman</sVerb> -- Description of event in English always
    <ixPerson>3</ixPerson> -- Identity field of the person who made this event happen
    <sPerson>Mikey</sPerson> -- Person's full name
    <ixPersonAssignedTo>4</ixPersonAssignedTo> -- Identity field of the person this case is assigned to
    <dt>2007-05-06T22:47:59Z</dt> -- Date event happened (in RFC822 UTC format)
    <s>Up up and away!</s> -- The text of the event (if this is an email or was created in HTML mode via Rich Case Events, this is a plain-text version of the event)
    <sHTML><![CDATA[<strong>Up up and away!</strong>]]></sHTML> -- If this is an event created in HTML mode via Rich Case Events, this contains the raw HTML version of the event
    <fEmail>false</fEmail> -- True if it is an email event
    <bEmail>false</bEmail> -- Deprecated: use fEmail
    <fExternal>false</fExternal> -- True if this case was created via an incoming email, discussion topic, or BugzScout
    <bExternal>false</bExternal> -- Deprecated: use fExternal
    <fHTML>true</fHTML> -- True if the event is an email and the html version has been cached. You should not need to look at this field. Instead use fEmail to determine if the event is an email and sFormat to determine if an edit is html-formatted
    <sFormat>html</sFormat> -- 'html' if the event was created in HTML mode via Rich Case Events
    <sChanges>Project changed from 'Inbox' to 'Cave'.</sChanges> -- Description of changes to the case during this event
    <evtDescription>Captain Caveman von Mikey zugewiesen</evtDescription> -- Description of event in YOUR language (in this case German)
    <rgAttachments>
      <attachment>
        <sFileName>Test Word.doc</sFileName> -- name of the attached file
        <sURL>default.asp?pg=pgDownload&amp;pgType=pgAttachment&amp;ixBugEvent=756&amp;sPart=2&amp;sTicket=&amp;sFileName=Test%20Word.doc</sURL> -- url to hit to get the contents of the attached file (add on token=yourtoken)
    </attachment>
    </rgAttachments>-- if the event is an email (fEmail == true) then there are additional fields --
    <sFrom>
      "JJ Walker" <jj@dynomite.org>
    </sFrom> -- the from header from the message
    <sTo>good@times.org</sTo> -- the to header from the message
    <sCC></sCC> -- the cc header from the message
    <sBCC></sBCC> -- the bcc header from the message (if readable)
    <sReplyTo></sReplyTo> -- the replyto header from the message
    <sSubject></sSubject> -- the subject header from the message
    <sDate>5 Jun 07 21:07:54 GMT</sDate> -- the date header from the message (exactly as it appears usually rfc822 date)
    <sBodyText></sBodyText> -- the body plaintext from the message
    <sBodyHTML></sBodyHTML> -- the message formatted in html
  </event>
</events>