textarea.AutoSizing {
  overflow: hidden;
  height: 21px;
  width:100%;
  border:none;
  box-sizing:border-box;
  resize: none;
}

body {
    font-family: tahoma, arial;
}

.TaskBox {
    border-width: 1px;
    border-color: #999;
    border-style: solid;
    min-width: 200px;
    height: 24px;
    position: relative;
    margin: 0px;
}

.Box {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-width: 24px;
    float: left;
}

.BoxLeft {
    border-right: 1px solid #aaa;
}

div {
    /* border: 1px dotted #aaa; */
}

.BoxCenter {
}

.BoxRight {
    border-left: 1px solid #aaa;
    float: right;
    background-color: #FFF;
}

.TaskCount {
    min-width: 24px;
    padding-top: 4px;
    font-family: courier;
    font-weight: bold;
    text-align: center;
}

.ExpanderButton {
    border: 0px;
    background-color: #E8E8E8;
    width: 24px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}

    .ExpanderButton:active, .ExpanderButton.active {
        background-color: #FFF;
    }

.TaskChildContainer {
    padding: 3px;
    padding-left: 12px;
    margin: 0px;
    margin-left: 13px;
    border-left: 1px dotted #aaa;
}

.TaskTitle {
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-family: Tahome, arial;
    font-size: 17px;
}

.Collapsed::before {
    content: "+";
    font-size: 24px;
    color: #666;
    position: absolute;
    top: -1px;
    right: 5px;
}

.Expanded::before {
    content: "_";
    font-size: 23px;
    color: #666;
    position: absolute;
    top: -12px;
    right: 5px;
}

.TaskDescriptionContainer {
    position: relative;
    border: 1px solid #999;
    border-top: none;
    margin: 0px;
    padding: 0px;
    margin-left: 25px;
    margin-bottom:3px;
}

.TaskDescription {
    margin: 0px;
    padding: 5px;
    max-width: 300px;
}

.Active {
    background-color: #B6FFB6;
}

.TaskContainer {
    display: inline-block;
}

.Inactive {
    background-color: #F7F7F7;
}

.Cancelled {
    background-color: #E8E8E8;
    color: #838383;
}

.TaskChildOptions {
    margin-left: 28px;
    margin: -2px 0px 4px 28px;
}

.ChildActionLink {
    color: #666;
    font-size: 12px;
}

.TaskTitleInput {
    height: 100%;
    box-sizing: border-box;
    border: none;
    padding-left: 6px;
    background-color: white;
}

.ConfirmButton {
    float: left;
    width: 25px;
    height: 100%;
    border: none;
    border-right: 1px solid #999;
    background-color: #F0F;
    position: relative;
}

    .ConfirmButton.Save {
        background-color: #C9CCFF;
    }

    .ConfirmButton.Cancel {
        background-color: #E8E8E8;
    }

    .ConfirmButton:active, .ConfirmButton.active {
        background-color: #fff;
    }


    .ConfirmButton.Cancel::before {
        content: "\2715";
        font-size: 19px;
        color: #7C7C7C;
        position: absolute;
        top: 2px;
        right: 2px;
    }

.StatusButton {
    background-color: #F0F;
    border: none;
    border-left: 1px solid #999;
    height: 100%;
    width: 25px;
    float: right;
    position: relative;
    color: #666;
}

    .StatusButton.ActiveStatus {
        background-color: #B6FFB6;
    }

        .StatusButton.ActiveStatus:active, .StatusButton.ActiveStatus.active {
            color: #000000;
            background-color: #0F0;
            font-weight: bold;
        }

    .StatusButton.InactiveStatus {
        background-color: #e8e8e8;
    }

button.StatusButton.InactiveStatus:active, button.StatusButton.InactiveStatus.active {
    background-color: #000000;
    font-weight: bold;
    color: #FFFFFF;
}

.StatusButton.InactiveStatus::before {
    content: "I";
    font-family: tahoma;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 8px;
}

.StatusButton.CancelledStatus {
    background-color: #FFBEBE;
}

    .StatusButton.CancelledStatus:active, .StatusButton.CancelledStatus.active {
        background-color: #F00;
        color: #000;
        font-weight: bold;
    }

.StatusButton.ActiveStatus::before {
    content: "A";
    position: absolute;
    top: 2px;
    right: 5px;
    font-family: arial;
    font-size: 20px;
}

.ConfirmButton.Save::before {
    content: '';
    position: absolute;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    transform: rotate(45deg);
    height: 14px;
    width: 7px;
    top: 2px;
    right: 6px;
}

.StatusButton.CancelledStatus::before {
    content: "C";
    font-family: tahoma;
    font-size: 21px;
    position: absolute;
    top: -1px;
    right: 6px;
}

:focus {
    outline: none;
}

.Active .TaskTitleInput {
    background-color: #B6FFB6;
}

.Inactive .TaskTitleInput {
    background-color: #F7F7F7;
}

.Cancelled .TaskTitleInput {
    background-color: #FFBEBE;
}
