@model Web.TaskTracker.Models.ViewModels.TaskList.TaskListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script>
        function TreeItem(serverItem) {
            var self = this;

            self.TaskId = serverItem.Item.TaskId;
            self.Name = ko.observable(serverItem.Item.Name);
            self.CurrentStatus = ko.observable(serverItem.Item.CurrentStatus);
            self.DateCreated = ko.observable(serverItem.Item.DateCreated);
            self.DateCompleted = ko.observable(serverItem.Item.DateCompleted);

            self.IsEditing = ko.observable(false);
            self.Waiting = ko.observable(false);


            self.Children = ko.observableArray();
            $.each(serverItem.Children, function (index, item) {
                self.Children.push(new TreeItem(item));
            });


            return self;
        }

        var KVP = function (name, id) {
            this.Key = name;
            this.Id = id;
        }

        var ViewModel = new function (serverModel) {
            var self = this;

            self.TaskStatuses = ko.observableArray([
                new KVP('Active', 0),
                new KVP('Complete', 1),
                new KVP('Cancelled', 2),
            ]);

            self.Root = ko.observableArray();

            $.each(serverModel.RootItems, function (index, item) {
                self.Root.push(new TreeItem(item));
            });
        }(@Html.Raw(Json.Encode(Model)));

        $(document).ready(function () {
            ko.applyBindings(ViewModel);
        });
    </script>
}


<ul data-bind="foreach: Root">
    <li data-bind="template: { name: 'child-template', data: $data }"></li>
</ul>

<script type="text/html" id="child-template">
    <div class="taskContainer">
        <div data-bind="visible: IsEditing">
            <select data-bind="options: ViewModel.TaskStatuses, optionsText: 'Key', value: CurrentStatus, optionsValue: 'Id'"></select>
            <input type="text" data-bind="value: Name" />
            <button type="button" data-bind="click: function(){ IsEditing(false); }">Save</button>
        </div>

        <div data-bind="visible: !IsEditing()">
            <button type="button" data-bind="click: function(){ IsEditing(true); }">Edit</button>
            <span class="taskName" data-bind="text: Name, css: { 'active' : CurrentStatus() == 0, 'complete': CurrentStatus() == 1, 'cancelled': CurrentStatus() == 2 }"></span>
        </div>

        <ul data-bind="foreach: Children">
            <li data-bind="template: { name: 'child-template', data: $data }"></li>
        </ul>
    </div>
</script>
