@model int?
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="~/Content/Scripts/SummaryViewModel.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/TaskViewModel.js"></script>

    <script>
        function AutoGrow(sender) {
            if (sender.scrollHeight > sender.clientHeight) {
                sender.style.height = sender.scrollHeight + "px";
            }
        }

        var viewModel = new SummaryViewModel();

        $(document).ready(function () {
            ko.applyBindings(viewModel);

            viewModel.GetTree(@Model);
        });

        Urls = {
            Ajax: {
                GetTreeItems: "@Url.Action("GetTreeItems")",
                SaveTask: "@Url.Action("SaveTask")",
                GetAllChildrenForTask: "@Url.Action("GetAllChildrenForTask")"
            },
            View: {},
        }
    </script>
}

<div style="min-width: 1280px; margin-bottom: 600px;">

    <div class="errorContainer">
        <span class="errorMessage" data-bind="text: Error"></span>
    </div>

    <div data-bind="visible: !IsBusy()">
        <!-- ko foreach: TaskTreeTrunk -->
        <div data-bind="template: { name: 'child-template', data: $data }"></div>
        <!-- /ko -->
    </div>
    <div data-bind="visible: IsBusy()">
        Gathering Items, please wait...
    </div>

    <script type="text/html" id="child-template">
        <div class="TaskContainer">
            <div class="TaskBox" data-bind="css: { 'Active': CurrentStatus() === 0, 'Inactive': CurrentStatus() === 1, 'Cancelled': CurrentStatus() === 2}">

                <div class="Box BoxLeft">
                    <button type="button" class="ExpanderButton" data-bind="click: ToggleChildren, css: { 'Expanded': ShowChildren, 'Collapsed': !ShowChildren()}"></button>
                </div>

                <div class="Box BoxCenter" data-bind="visible: !IsEditing()">
                    <div class="TaskTitle">
                        <span class="TaskName" data-bind="click: StartEditing, text: Name"></span>
                    </div>
                </div>

                <div class="Box BoxRight" data-bind="visible: !IsEditing()">
                    <div class="TaskCount">
                        <span data-bind="text: Children().length"></span>
                    </div>
                </div>

                <div class="Box BoxRight" data-bind="visible: !IsEditing() && Description() != null && Description().length > 0">
                    <button type="button" class="ExpanderButton DescriptionExpander" data-bind="click: function() { ShowDescription(!ShowDescription()); }"></button>
                </div>

                <div class="Box BoxRight" style="border-left: none" data-bind="visible: IsEditing">
                    <button class="ConfirmButton Save" data-bind="click: Save"></button>
                    <button class="ConfirmButton Cancel" data-bind="click: StopEditing"></button>

                    <input type="text" class="TaskTitleInput" data-bind="value: EditModel.EditName" />


                    <button class="StatusButton CancelledStatus" data-bind="click: function() { EditModel.EditStatus(2) }, css: { 'active': EditModel.EditStatus() === 2 }"></button>
                    <button class="StatusButton InactiveStatus" data-bind="click: function() { EditModel.EditStatus(1) }, css: { 'active': EditModel.EditStatus() === 1 }"></button>
                    <button class="StatusButton ActiveStatus" data-bind="click: function() { EditModel.EditStatus(0) }, css: { 'active': EditModel.EditStatus() === 0 }"></button>
                    <button type="button" class="ExpanderButton StatusButton  DescriptionExpander" data-bind="click: function() { ShowDescription(!ShowDescription()); }"></button>

                </div>
            </div>

            <div class="TaskDescriptionContainer" data-bind="visible: ShowDescription()">
                <p class="TaskDescription" data-bind="text: Description, visible: !IsEditing()"></p>
                <textarea class="AutoSizing" onkeyup="AutoGrow(this);" onmousedown="AutoGrow(this)" data-bind="value: EditModel.EditDescription, visible: IsEditing()"></textarea>
            </div>
        </div>

        <div class="TaskChildContainer" data-bind="visible: ShowChildren() && Children().length>0">
            <!-- ko foreach: Children -->
            <div data-bind="template: { name: 'child-template', data: $data }"></div>
            <!-- /ko -->
        </div>
        <div class="TaskChildOptions" data-bind="visible: ShowChildren() && TaskId() != null">
            <a href="#" class="ChildActionLink" data-bind="click: AddNewChild">Add Task</a>
            <a href="#" class="ChildActionLink" data-bind="click: ShowCompletedChildren, visible: !ShowingCompleteChildren()">Show completed</a>
            <a href="#" class="ChildActionLink" data-bind="click: HideCompletedChildren, visible: ShowingCompleteChildren()">Hide completed</a>
        </div>
    </script>

</div>
