<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="~/Content/Scripts/jQuery.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/Knockout.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/TaskList.css" />
</head>
<body>
    @RenderSection("Scripts", false);

    <div>
        @RenderBody()
    </div>
</body>
</html>
