@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="~/Content/Knockout.js"></script>
    <script type="text/javascript" src="~/Content/Jquery.js"></script>
</head>
<body>
    <script>

        function ChildViewModel() {
            self = this;

            self.Name = ko.observable('New Item');
            self.IsEditing = ko.observable(true);
            self.Children = ko.observableArray();

            return self;
        }


        var viewModel = new function () {
            self = this;

            self.Root = ko.observable(new ChildViewModel());
        }

        $(document).ready(function () {
            ko.applyBindings(viewModel);
        });

    </script>

    <div data-bind="template: { name: 'child-template', data: Root }">
    </div>

    <script type="text/html" id="child-template">
        <div data-bind="visible: !IsEditing()">
            <button type="button" data-bind="click: function() { IsEditing(true); }">E</button>
            <span data-bind="text: Name"></span>
        </div>

        <div data-bind="visible: IsEditing()">
            <button type="button" data-bind="click: function() { IsEditing(false); }">S</button>
            <input type="text" data-bind="value: Name" />
            <button data-bind="click: function() { Children.push(new ChildViewModel()) }">New Child</button>
        </div>

        <ul data-bind="foreach: Children">
            <li data-bind="template: { name: 'child-template', data: $data }"></li>
        </ul>

    </script>
</body>
</html>
