<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestDataConnectionString" connectionString="Data Source=C:\dev\DataSources\TestData.sdf"/>
  </connectionStrings>
  <appSettings>
    <add key="Test1" value="123"/>
    <add key="Test2" value="true"/>
    <add key="Test3" value="I'm a string"/>
    <add key="Test4" value="456"/>
    <add key="Test5" value="false"/>
    <add key="Test6" value="I'm another string"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
