@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script>
        //var ViewModel = new function () {
        //    var self = this;

        //    self.SampleTaskCollapse = ko.observable(false);
        //    self.SampleCompleteCollapse = ko.observable(false);
        //    self.LoadMoreCompleteTasks = ko.observable(false);

        //    self.SelectOptions = ['active', 'complete', 'disabled'];
        //}();

        //function GetCorrectCollapseSymbol(isCollapsed) {
        //    if (isCollapsed) {
        //        return '+';
        //    }
        //    else {
        //        return '-';
        //    }
        //}

        //$(document).ready(function () {
        //    ko.applyBindings(ViewModel);
        //});


        viewModel = new function () {
            var self = this;

            self.Name = ko.observable('Name');
            //self.Status = ko.observable();

            self.ShowChildren = ko.observable();
            self.ShowDescription = ko.observable();
            self.IsEditing = ko.observable(false);

            self.Edit = function () {
                self.IsEditing(true);
            }

            self.Save = function () {
                self.IsEditing(false);

                //TODO-SM AJAX
            }
        }();

        $(document).ready(function () {
            ko.applyBindings(viewModel);
        });
    </script>
}

<div class="TaskContainer">
    <button type="button" class="TinyButton TaskChildExpanderButton" data-bind="click: function() { ShowChildren(!ShowChildren()); }, css: { 'Collapsed': ShowChildren, 'Expanded': !ShowChildren()}"></button>

    @* saved *@
    <div data-bind="visible: !IsEditing()">
        <div class="TaskBody Active">
            <span class="TaskName" data-bind="click: function() {IsEditing(true);}">Grocery List</span>
            <span class="TaskCompletionPercentage">10%</span>
        </div>
        <div class="TaskDescription" data-bind="visible: ShowDescription">
            <p>Some extra info on this particular task</p>
            <button type="button" class="TinyButton TaskDescriptionCollapserButton" data-bind="click: function() { ShowDescription(!ShowDescription()); }, css: { 'Collapsed': ShowDescription, 'Expanded': !ShowDescription()}"></button>
        </div>
    </div>

    @* Editing *@
    <div data-bind="visible: IsEditing">
        <div class="TaskBody Editing">
            <input class="TaskNameInput" type="text" value="A thing with desc." />
            <select class="TaskStatusSelect">
                <option>Active</option>
                <option>Inactive</option>
                <option>Cancelled</option>
            </select>
            <button type="button" class="MediumButton"><span class="ButtonIcon IconCancel"></span></button>
            <button type="button" class="MediumButton" data-bind="click: Save"><span class="ButtonIcon IconSave"></span></button>
        </div>
        <div class="TaskDescription Editing">
            <textarea class="TaskDescriptionInput">test</textarea>
        </div>
    </div>

</div>

@*
<div class="TaskContainer">
    <button type="button" class="TinyButton TaskChildExpanderButton Collapsed"></button>
    <div class="TaskBody Active">
        <span class="TaskName">Grocery List</span>
        <span class="TaskCompletionPercentage">10%</span>
    </div>
</div>

<div class="TaskContainer">
    <button type="button" class="TinyButton TaskChildExpanderButton Collapsed"></button>
    <div class="TaskBody Inactive">
        <span class="TaskName">Clean Apartment</span>
        <span class="TaskCompletionPercentage">50%</span>
    </div>
</div>

<div class="TaskContainer">
    <button type="button" class="TinyButton TaskChildExpanderButton Expanded"></button>
    <div class="TaskBody Complete">
        <span class="TaskName">Something I Did</span>
        <span class="TaskCompletionPercentage"></span>
    </div>

    <div class="TaskChildContainer">
        <div class="TaskContainer">
            <button type="button" class="TinyButton TaskChildExpanderButton Expanded"></button>
            <div class="TaskBody Editing">
                <input class="TaskNameInput" type="text" value="A thing with desc." />
                <select class="TaskStatusSelect">
                    <option>Active</option>
                    <option>Inactive</option>
                    <option>Cancelled</option>
                </select>
                <button type="button" class="MediumButton"><span class="ButtonIcon IconCancel"></span></button>
                <button type="button" class="MediumButton"><span class="ButtonIcon IconSave"></span></button>
            </div>
            <div class="TaskDescription Editing">
                <textarea class="TaskDescriptionInput">test</textarea>
            </div>
        </div>
    </div>

</div>

<div class="TaskContainer">
    <button type="button" class="TinyButton TaskChildExpanderButton Expanded"></button>
    <div class="TaskBody Complete">
        <span class="TaskName">Something I Did</span>
        <span class="TaskCompletionPercentage"></span>
    </div>
    <div class="TaskChildContainer">
        <div class="TaskContainer">
            <button type="button" class="TinyButton TaskChildExpanderButton Expanded"></button>
            <div class="TaskBody Active">
                <span class="TaskName">A thing with desc.</span>
                <span class="TaskCompletionPercentage"></span>
            </div>
            <div class="TaskDescription">
                <p>Some extra info on this particular task</p>
                <button type="button" class="TinyButton TaskDescriptionCollapserButton Expanded"></button>
            </div>
        </div>
    </div>
</div>

<div class="TaskContainer">
    <button type="button" class="TinyButton TaskChildExpanderButton Expanded"></button>
    <div class="TaskBody Active">
        <span class="TaskName">A thing with desc.</span>
        <span class="TaskCompletionPercentage"></span>
    </div>
    <div class="TaskDescription">
        <p>Some extra info on this particular task</p>
        <button type="button" class="TinyButton TaskDescriptionCollapserButton Expanded"></button>
    </div>
</div>*@


@*<div>
    <button type="button">-</button><span>itemName</span><button type="button">Edit</button>
</div>

<br /><br />
<div>
    <button type="button">+</button><select data-bind="options: SelectOptions" ></select><input type="text" value="itemName"/><button type="button">Save</button>
</div>



<h2>Task list mock</h2>

<ul>
    <li><span class="taskName active">Task1</span>
        <button class="butt" data-bind="text: GetCorrectCollapseSymbol(SampleTaskCollapse()), click: function() { SampleTaskCollapse(!SampleTaskCollapse()) }"></button>
        <ul data-bind="visible: !SampleTaskCollapse()">
            <li><span class="taskName active">Subtask1 for task1</span></li>
            <li><span class="taskName cancelled">Subtask2 for task1</span></li>
            <li><span class="taskName complete">Subtask3 for task1</span></li>
        </ul>
    </li>
    <li class="taskName active">test2</li>
    <li class="taskName active">Edit Mode <button type="button">Edit</button>
        <ul>
            <li>
                <button>active</button><button>cancelled</button><button>complete</button>
                <input type="text" /><button type="button">Save</button></li>
            <li>
                <button>active</button><button>cancelled</button><button>complete</button>
                <input type="text" /><button type="button">Save</button></li>
            <li>Saved Task <button type="button">Edit</button></li>
        </ul>
    </li>
</ul>

<button data-bind="visible: !SampleCompleteCollapse(),click: function() { SampleCompleteCollapse(!SampleCompleteCollapse()); }">Completed Tasks</button>

<div data-bind="visible: SampleCompleteCollapse">
    <ul class="taskName complete">
        <li>completed task</li>
        <li>completed task
        <ul>
            <li>subtask</li>
            <li>subtask</li>
            <li>subtask</li>
        </ul>
        </li>
        <li>completed task</li>
        <li>completed task
        <ul>
            <li>subtask</li>
            <li>subtask</li>
        </ul>
        </li>
        <li>completed task</li>
        <li>completed task</li>
    </ul>

    <div data-bind="visible: LoadMoreCompleteTasks">
        <ul class="taskName complete">
            <li>completed task</li>
            <li>completed task
        <ul>
            <li>subtask</li>
            <li>subtask</li>
            <li>subtask</li>
        </ul>
            </li>
            <li>completed task</li>
            <li>completed task
        <ul>
            <li>subtask</li>
            <li>subtask</li>
        </ul>
            </li>
            <li>completed task</li>
            <li>completed task</li>
        </ul>
    </div>

    <button data-bind="visible: !LoadMoreCompleteTasks(), click: function() { LoadMoreCompleteTasks(!LoadMoreCompleteTasks()); }">More...</button>
</div>*@
