@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
}

<div>
    <span>Task tracking for everyone, coming soon!</span>
    <ul>
        <li>easy and quick UI</li>
        <li>touch focus</li>
        <li>shared tasks</li>
        <li>groups and teams</li>
    </ul>
</div>
