@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

active task with expanded description
<div class="TaskContainer">
    <button type="button" class="CollapsingButton TaskChildExpanderButton Expanded"></button>

    <div>
        <div class="TaskBody Active">
            <span class="TaskName">Task name here</span>
        </div>
        <div class="TaskDescription">
            <button type="button" class="CollapsingButton DescriptionExpanderButton Expanded"></button>
            <p>some longer description on what this task is</p>
        </div>
    </div>

</div>
<br />
<br />

<div class="TaskContainer">
    <button type="button" class="CollapsingButton TaskChildExpanderButton Expanded"></button>

    <div>
        <div class="TaskBody Active">
            <span class="TaskName">Task name here</span>
        </div>
        <div class="TaskDescription">
            <button type="button" class="CollapsingButton DescriptionExpanderButton Collapsed"></button>
            <p>some longer...</p>
        </div>
    </div>

</div>
<br />
<br />

inactive task with collapsed description
<div class="TaskContainer">
    <button type="button" class="CollapsingButton TaskChildExpanderButton Collapsed"></button>

    <div>
        <div class="TaskBody Inactive">
            <span class="TaskName">Another task name</span>
        </div>
    </div>
</div>
<br />
<br />

complete task
<div class="TaskContainer">
    <button type="button" class="CollapsingButton TaskChildExpanderButton Collapsed"></button>

    <div>
        <div class="TaskBody Complete">
            <span class="TaskName">Another task...</span>
        </div>
    </div>
</div>
<br />
<br />

task with children
<div class="TaskContainer">
    <button type="button" class="CollapsingButton TaskChildExpanderButton Expanded"></button>
    <div>
        <div class="TaskBody Active">
            <span class="TaskName">Another task name</span>
        </div>
    </div>

    <div class="TaskChildContainer">
        <div>
            <!-- simulate knockout template div -->
            <div class="TaskContainer">
                <button type="button" class="CollapsingButton TaskChildExpanderButton Collapsed"></button>

                <div>
                    <div class="TaskBody Active">
                        <span class="TaskName">Another task name</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="TaskContainer">
                <button type="button" class="CollapsingButton TaskChildExpanderButton Collapsed"></button>

                <div>
                    <div class="TaskBody Inactive">
                        <span class="TaskName">Another task name</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="TaskChildOptions">
            <a href="#" class="ChildActionLink">Add Task</a>
            <a href="#" class="ChildActionLink">Show completed</a>
        </div>
    </div>
</div>
<div class="TaskContainer">
    <button type="button" class="CollapsingButton TaskChildExpanderButton Expanded"></button>

    <div>
        <div class="TaskBody Active">
            <span class="TaskName">Another task name</span>
        </div>
    </div>
</div>
<br />
<br />

<div class="TaskContainer">
    <button type="button" class="CollapsingButton TaskChildExpanderButton Expanded"></button>
    <div>
        <div class="TaskBody Active">
            <span class="TaskName">Another task name</span>
        </div>
    </div>

    <div class="TaskChildContainer">
         <div>
            <div class="TaskContainer">
                <button type="button" class="CollapsingButton TaskChildExpanderButton Collapsed"></button>

                <div>
                    <div class="TaskBody Inactive">
                        <span class="TaskName">Another task name</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="TaskChildOptions">
            <a href="#" class="ChildActionLink">Add Task</a>
            <a href="#" class="ChildActionLink">Hide completed</a>
        </div>
    </div>
    <div class="TaskChildContainer">
        <div>
            <div class="TaskContainer">
                <button type="button" class="CollapsingButton TaskChildExpanderButton Collapsed"></button>

                <div>
                    <div class="TaskBody Complete">
                        <span class="TaskName">Another task name</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="TaskContainer">
                <button type="button" class="CollapsingButton TaskChildExpanderButton Collapsed"></button>

                <div>
                    <div class="TaskBody Complete">
                        <span class="TaskName">Another task name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="TaskContainer">
    <button type="button" class="CollapsingButton TaskChildExpanderButton Expanded"></button>

    <div>
        <div class="TaskBody Active">
            <span class="TaskName">Another task name</span>
        </div>
    </div>
</div>
<br />
<br />

Editing
<div class="TaskContainer">
    <button type="button" class="CollapsingButton TaskChildExpanderButton Expanded"></button>

    <div>
        <div class="TaskBody Editing">
            <input class="TaskNameInput" type="text" />
            <select class="TaskStatusSelect">
                <option>Active</option>
                <option>Inactive</option>
                <option>Cancelled</option>
            </select>
            <a href="#" class="EditActionLink">Save</a>
            <a href="#" class="EditActionLink">Cancel</a>
        </div>
        <div class="TaskDescription Editing">
            <textarea class="TaskDescriptionInput"></textarea>
            <div class="TaskErrorContainer">I am an error</div>
        </div>
    </div>



</div>
<br />
<br />
